/* ROOT */
:root {
    --black: rgb(25, 25, 25)
    --gray: rgb(75, 75, 75)
}

/* GLOBE */
.html {
    .body {
        font-family: 'Darumadrop One', cursive;
        margin: 10px solid white;
        color: white;
        background-color: rgb(100, 100, 100);
        .main {
            .header {
                background-color: rgb(25, 25, 25);
                height: 125 px;
                width: auto;
                .H {
                    .HLogo {
                        height: 100px;
                        width: 100px;
                        border-radius: 50px;
                    }
                }
            }
            .aside {
                background-color: rgb(25, 25, 25);
                float: left;
                width: 25%;
                .intro {
                    .user{
                        height: 100px;
                        width: auto;
                        border: 2px solid white;
                        border-radius: 50px;
                        margin: 25px;
                        margin-left: 120px;
                    }
                }
                .details {
                    font-size: small;
                    .dpreb {
                        color: yellowgreen;
                    }
                }
            }
            .article {
                margin-top: 25px;
                padding: 10px;
                background-color: rgb(50, 50, 50);
                float: right;
                height: auto;
                width: 72%;
                border: 2px solid white;
                border-radius: 50px;
                .codespace{
                    font-family: 'Courier New', Courier, monospace;
                    background-color: black;
                    color: white;
                    border: 2px solid white;
                    b {
                        color: greenyellow;
                    }
                }
            }
        }
    }
}